<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ site.title }} | {{ page.title }}</title>
        <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
        <link rel="stylesheet" href="{{ "/assets/css/highlighter.css" | relative_url }}">
    </head>
    <body>
        <div id="container">
            <div id="header">
                <div id="headline">
                    <h1>{{ site.title }}</h1>
                    <h2>{{ page.title }}</h2>
                    <h2>{{ page.tag }}</h2>
                    <p>{{ site.description }}</p>
                </div>
                <nav>
                    <a href="/">Home</a>
                    <a href="https://unexist.dev">Projects</a>
                    <a href="https://hg.unexist.dev">Repositories</a>
                </nav>
            </div>
            <div id="split">
                <div id="content">
                    {{ content }}

                    {% if page.tags != nil %}
                        <div id="tag-cloud" class="tags">
                            <div class="post-tags">
                                Tagged as: {{ page | tags }}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div id="sidebar">
                    <h2>Tags</h2>
                    {{ site | tag_cloud }}
                </div>
            </div>
            <footer>
                <a href="{{ "/feed.xml" | relative_url }}">RSS</a>
                &middot;
                <a href="https://github.com/{{ site.github_username }}">unexist @ GitHub</a>
                &middot;
                <a href="https://twitter.com/{{ site.twitter_username }}">unexist @ Twitter</a>
            </footer>
        </div>
    </body>
</html>
