---
layout: default
---
<div class="post-content">
    <div>
        <h2>{{ page.title }}</h2>
        <div class="post-meta">
            Written by <a href="/about">{{ page.author }}</a> on <span>{{ page.date | date_to_long_string }}</span>
            {% if page.tags != nil %}
                and tagged as {{ page | tags }}
            {% endif %}
        </div>
    </div>

    <div id="table-of-contents">
        <span id="toc-header">Table of contents</span>
        {% toc %}
    </div>

    {{ content }}
</div>