---
layout: default
---
<div class="post-content">
    <div>
        <h1>{{ page.title }}</h1>
        <div class="post-meta">
            {% capture datetime %}{{ page.date | date: '%s' }}{% endcapture %}
            {% capture updatetime %}{{ page.last_updated | date: '%s' }}{% endcapture %}

            {% if datetime == updatetime %}
                Written by <a href="/about">{{ page.author }}</a> on
                <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
            {% else %}
                Written by <a href="/about">{{ page.author }}</a>, updated on
                <time datetime="{{ page.last_updated | date_to_xmlschema }}">{{ page.last_updated | date_to_long_string }}</time>
            {% endif %}
            {% if page.tags != nil %}
                and tagged as {{ page | tags }}
            {% endif %}
        </div>
    </div>

    {% if page.toc %}
    <div id="table-of-contents">
        <span id="toc-header">In this article</span>
        {% toc %}
    </div>
    {% endif %}

    {{ content }}
</div>